.sec-center_users{
    flex-direction: row;
    max-width: 100%;
}
main .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-top: 5%;
}

.lock{
    background-color: white;
    color: darkgray;
    padding: 5px 10px;
    border: #ccc solid 1px;
    cursor: pointer;
    border-radius: 4px;
}
.lock:hover{
    background-color: black;
    color: white;
}
.inputt .email input,
.inputt .address input{
    padding: 10px;
    height: 35px;
    width: 410px;
    border-radius: 1rem;
    border:solid 2px;
}
