* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: max-content;
}

body {
    position: relative;
    background-image: url("../img/adminpizzabackground.gif");
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.elementbg{
    position:absolute;
    z-index: -1;
    height: 16%;
    bottom: 90px;
}

.login-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #ff7a43;
}

.button{
    background-color: #00628F;
}

.button:hover{
    background-color: #009ee8;
    color: white;

}

.biglogo{
    z-index: 2;
    position: absolute;
    width: 12%;
    bottom: 65%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    display: block;
    margin: 0 auto 20px;
    width: 300px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    font-size: 14px;
}

.options a {
    font-size: 14px;
    color: #3498db;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
#username,
#password{
 border-radius: 30px;
}
