* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}
body{
    background-color: #f4f7fc;
}
.sidebar {
    width: 200px;
    height: 95%;
    background-color: #00628F;
    border: 1px solid #ccc; 
    padding: 10px;
    padding-top: 15px;
    position: fixed;
    top: 10px;
    left: 20px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    min-width: 150px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    transition: all 0.38s ease;
}

.sidebar-brand img {
    width: 180px;
    height: auto;
    margin: 20px auto;
}

.sidebar-menu ul {
    margin-top: 10px;
}

.sidebar-menu li {
    padding: 12px;
    display: flex;
    align-items: center;
}

.sidebar-menu li a {
    color: white;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-menu li a:hover {
    margin-left: 0.4rem;
}

.sidebar-menu li span {
    margin-left: 15px;
    color: white;
}
.content{
    position: relative;
    width: 78%;
    left: 20%;
    padding-left: 30px;
    padding-right: 0px;

}
.account{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 20px;
}
.account_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.text h5{
    color: #A7A4A4;
}
.account_user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.account h1{
    padding-left: 30px;
}
.product-options {
    padding-left: 20px; 
}

.product-options li {
    height: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
tr td{
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.delete-btn:hover {
    background-color: #e60000;
}


.edit{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.edit:hover{
    background-color: greenyellow;
}
.anh img{
    width: 80px;
    height: 60px;
}
.anh1 img{
    width: 70px;
    height: 50px;
}

.tit{
    margin-top: 50px;
}
.detele_all {
  background-color:#e74c3c; 
  color:white;
  height:35px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.detele_all:hover{
    background-color: #c0392b;  
}  
.Drink{
    margin-bottom: 50px;
}

  
#modal_container{
    display: none;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.modal{
    background-color: #ddd;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
    border-radius: 15px;
    height: 500px; 
    box-shadow: 0px 4px 6px rgba(47, 44, 44, 0.1);
}
.picture img{
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.inputt{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin-top: 10px;
    justify-content: center;
}
.inputt input{
    height: 35px;
    width: 200px;
    border-radius: 10px;
    border:solid 2px;
}
.inputt input:hover,
.inputt select:hover
{
    border-color: #00628F;
}
.modal_header{
    display: flex;
    justify-content: space-between;
}

.modal_header button{
    width: 30px;
    height: 25px;
    background-color: red;
    color: #f4f7fc;
    border: none;
    border-radius: 5px;
}
.modal_header p{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 41px;
    margin-bottom: 25px;
    color: #00628F;
}
 .picture{
    margin-top:20px;
    margin-left: 45px;
    z-index: -1;

}
.but{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.danh_muc{
    width: 200px;
}
.danh_muc select{
    width: 200px;
    height: 35px;
    border-radius:10px ;
    border: solid 2px;
}

@media (max-width: 1200px) {
    .sec-right {
        display: none;
    }
       .statu{
           width: 100%;
        }
        main .new-user .user-list{
           width: 100%;
       }
    }